body {
  background-color: aqua;
}
.title {
  display: inline;
  /* color: green; */
}
.ocultar {
  /* display: none; */
  color: blue;
}
#boton {
  width: 155px;
  height: 25px;
}
.parrafo_card {
  color: greenyellow;
  font-size: 1rem;
}
